
@{
    ViewBag.Title = "orderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>

<hr />


<div class="row d-flex justify-content-center">
    <div class="col-md-10">

        <!--Showing Details of Order-->

        @{
            <h4 class="mb-1">Customer Details:</h4>
            <div class="table-responsive">
                <table class="table table-bordered bg-light shadow p-3 mb-5 bg-white rounded">
                    <thead class="bg-dark text-white  font-weight-bold">
                        <tr>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Address</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.UserName</td>
                            <td>@ViewBag.UserContact</td>
                            <td>@ViewBag.UserAddress</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4 class="mb-1">Products:</h4>
            <table class="table table-bordered bg-light shadow p-3 mb-5 bg-white rounded">
                <thead class="bg-dark text-white font-weight-bold">
                    <tr>
                        <td>Product</td>
                        <td>Qty</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in ViewData["Details"] as IEnumerable<JewelleryShop.Models.GetOrders_Result>)
                    {
                        <tr>
                            <td>@order.productName</td>
                            <td>@order.Qty</td>
                            <td>@order.price</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4 class="mb-1">Order Deatils:</h4>
            <table class="table table-bordered table-hover bg-light shadow p-3 mb-5 bg-white rounded">
                <tbody>
                   <tr>
                       <td>Amount :</td>
                       <td>@ViewBag.Amount</td>
                   </tr>
                    <tr>
                        <td>Placement :</td>
                        <td>@ViewBag.Place</td>
                    </tr>
                    <tr>
                        <td>Delivery :</td>
                        <td>@ViewBag.Deliver</td>
                    </tr>
                    <tr>
                        <td>Status :</td>
                        <td>@ViewBag.Status</td>
                    </tr>
                </tbody>
            </table>


        }

        <a href="@Url.Action("Orders", "Admin")" class="pull-right btn btn-info mb-4">Back</a>

    </div>
</div>

