@model JewelleryShop.Models.ProductsTable

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout_For_FE.cshtml";
}

<div class="container">
    <div class="products-page">

        <div class="search">
            <div class="row">
                <div class="col-md-12">
                    <!-- search button -->
                    @using (Html.BeginForm("Products", "Home"))
                    {
                        <div class="input-group">
                            <input type="text" name="searchText" id="searchField"  class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button name="btnSearch" id="searchButton" class="btn btn-search" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
                            </span>
                        </div>
                    }
                    @{ Html.EndForm(); }
                </div>
            </div>
           
           
        </div>
           

        <div class="products">
            <div class="product-listy">
                <h2>our Products</h2>
                <ul class="product-list">

                    

                    @foreach (var category in ViewData["Categories"] as IEnumerable<JewelleryShop.Models.ProductCategoryTable>)
                    {
                        <li>
                            <a href="@Url.Action("Products", "Home", new { id = category.categoryId })">
                                @category.categoryName
                            </a>
                        </li>
                        }

                </ul>
            </div>
            <div class="latest-bis">
                <img src="~/Design/FrontEnd/images/p5.jpg" class="img-responsive" alt="" />
                <div class="offer">
                    <p>40%</p>
                    <small>Top Offer</small>
                </div>
            </div>
           

        </div>


        <div class="new-product">

            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="cbp-vm-options">
                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
                </div>


                <!--Showing All Products-->
                <div class="clearfix"></div>

                @if (ViewBag.search != null)
                {
                    
                    <div>
                        <h4>
                            <span >Sorry</span> The Searched Product Is Not Avalaible
                            <span>
                                <a href="@Url.Action("Products", "Home")" class="btn btn-info">Click Here</a>
                            </span>
                            To Browse Products.
                        </h4>
                    </div>
                    
                }
                else
                {
                    <ul>
                        @foreach (var product in ViewData["Products"] as IEnumerable<JewelleryShop.Models.ProductsTable>)
                        {
                            <li>
                                <a class="cbp-vm-image" href="@Url.Action("SingleProduct", "Home", new { id = product.productId })">
                                    <div class="simpleCart_shelfItem">
                                        <div class="view view-first">
                                            <div class="inner_content clearfix">

                                                <!--Product Image Here-->
                                                <div class="product_image">
                                                    <img src="~/Design/images/products/@product.productImage" class="img-responsive item_thumb" alt="@product.productImage" />

                                                    <div class="mask">
                                                        <div class="info">Quick View</div>
                                                    </div>

                                                    <div class="product_container">

                                                        <!--Product Title Here-->
                                                        <div class="cart-left" style="width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                                                            <p class="title item_name">@product.productName</p>
                                                        </div>

                                                        <!--Product Price Here-->
                                                        <div class="pricey"><span class="item_price">@product.productPrice</span></div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>


                                <!--Product Description here-->
                                <div class="cbp-vm-details">
                                    <div class="max-lines">@product.productDescription</div>

                                </div>

                                <!--Add To Cart Button here-->
                                <a class="cbp-vm-icon cbp-vm-add" href="@Url.Action("addItem", "Home", new { id = product.productId })" )">Add to cart</a>

                                @* <a class="cbp-vm-icon cbp-vm-add" href="javascript:;" onclick="myCart('@product.productName', '@product.productPrice', '@product.productImage', '@product.productId')">Add to cart</a>*@
                            </li>
                            }

                    </ul>
                }


              
			</div>
<script src="~/Design/FrontEnd/js/cbpViewModeSwitch.js" type="text/javascript"></script>
<script src="~/Design/FrontEnd/js/classie.js" type="text/javascript"></script>
			</div>
<div class="clearfix"></div>
			</div>
<div class="clearfix"></div>
   </div>
<!-- content-section-ends -->

